body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    background-color: #fff;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    height: 55px;
}

.header .logo {
    padding-right: 27px;
    display: contents;
    height: 100%;
}

.header .logo img {
    height: 32px;
    width: auto;
}

.header .icon-svg {
    fill: black;
    width: 100%;
    height: 100%;
}

.navbar {
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}

.navbar ul {
    list-style: none;
    overflow: hidden;
    white-space: nowrap;
}

.navbar ul li {
    display: inline-block;
    margin-right: 24px;
}

.navbar a {
    font-family: unify sans,Helvetica,Arial,sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 700;
    height: 100%;
    font-size: 14px;
}

.navbar a:hover {
    font-weight: 800;
}

.main-content {
    max-width: 1080px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.big-title {
    font-size: 16px;
    font-weight: 600;
}

.bigger-title {
    font-size: 22px;
    font-weight: 600;
    flex-wrap: wrap;
}

.small-title {
    font-size: 16px;
    font-weight: 600;
}

.category-name-text {
    font-size: 20px;
    font-weight: 700;
}

.common-article:hover .hover-decorations {
    text-decoration: underline;
    text-decoration-color: #029CFF;
}

.article-category {
    font-weight: 600;
    font-size: 14px;
}

.text-replacing-adv {
    color: dimgray;
    font-size: 20px;
    background-color: #DDDDDD;
    padding: 48px 36px;
    user-select: none;
}

.top-adv, .adv-div {
    background-color: #FAFAFA;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 270px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.top-news {
    display: flex;
    justify-content: space-between;
}

.bottom-news {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sidebar {
    flex-direction: column;
    width: 35%;
    display: flex;
    margin-right: 10px;
}

.scroll-adv-div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.adv-div {
    height: 100%;
}

.news-box {
    flex-direction: column;
    width: 65%;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.top-article-text-box {
    margin: -40px 0;
    position: relative;
    width: 90%;
    background-color: #fff;
    border-radius: 1px;
    padding-left: 2px;
    padding-top: 15px;
}

.article-text-box-subtitle {
    margin: 24px 0;
    width: 90%;
    background-color: #fff;
    border-radius: 1px;
    padding-left: 2px;
    padding-top: 13px;
}

.top-news-first-section {
    min-width: 300px;
    flex-direction: column;
    flex: 1;
    width: 48%;
    border: none;
}

.top-news-second-section {
    width: 26%;
    border: none;
    padding-left: 40px;
}

.top-news-second-section article {
    padding-bottom: 30px;
}

.top-news-third-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26%;
    padding: 30px 30px 30px 40px;
}

.title-only-article {
    justify-content: space-between;
}

.title-only-article div {
    margin-top: 8px;
}

.news-item img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1em;
}

.clickable-article-box {
    display: flex;
    max-height: 120px;
    justify-content: space-between;
    margin-right: 54px;
    margin-left: 54px;
    margin-bottom: 24px;
}

.common-adv {
    max-height: 270px;
    margin-right: 54px;
    margin-left: 54px;
    margin-bottom: 24px;
}

.common-article-text-box {
    padding-top: 10px;
    padding-left: 10px;
    width: 67%;
    padding-right: 10px;
    margin-right: auto;
}

.common-article-image-box {
    width: 33%;
    padding-left: 40px;
    margin-left: auto;
}

.common-article-image-box img {
    height: 100%;
    width: auto;
}

.share-img-div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.category-articles {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.category-title-div {
    flex-direction: row;
    display: flex;
    align-items: center;
    min-height: 52px;
}

.category-title-div a {
    flex-direction: row;
}

.colored-square-icon {
    min-width: 24px;
    max-width: 24px;
    min-height: 12px;
    max-height: 12px;
    margin-right:14px;
    margin-left:0;
}

.big-category-article {
    display: flex;
    flex-direction: row;
}

.big-category-article img {
    width: 66%;
}

.cat-big-article-text-box {
    margin-top: 24px;
    position: relative;
    flex: 0 0 40%;
    padding: 24px;
    right: 9%;
    height: 100%;
    background-color: #fff;
}

.cat-big-article-text-box div{
    margin-top: 8px;
}

.small-category-article-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: start;
}

.small-category-article {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.small-category-article img {
    width: 100%;
    min-height: 100px;
    height: auto;
}

.category-article {
    margin: 4px;
    width: 33%;
    height: auto;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.cat-small-article-text-box {
    padding: 16px;
}

.footer {
    padding-left: 20px;
}

.footer-bar {
    list-style: none;
    flex-wrap: wrap;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-inline-start: 0;
}

.footer-link {
    padding-left: 12px;
    padding-right: 12px;
}

.panel-button-div {
    height:24px;
    width:24px;
    padding-left:40px;
    padding-right:18px;
}


@media all and (min-width:960px){
    .main-content{
        max-width:1080px;
        flex-wrap:wrap;
        width:90vw;
    }
}

@media all and (min-width:480px){
    .big-title {
        font-size: 18px;
    }
}

@media all and (max-width:640px){
    .bigger-title {
        font-weight: 600;
    }
    .top-news {
        flex-direction: column;
    }
    .top-news-first-section {
        width: 100%;
    }
    .top-news-second-section {
        width: 90%;
        padding-left: 0;
    }
    .navbar {
        opacity: 0;
        user-select: none;
    }
    .navbar a {
        pointer-events: none;
    }
}

@media all and (min-width:640px){
    .bigger-title{
        font-weight: 600;
    }
    .top-news {
        flex-direction: row;
    }
}

@media all and (min-width: 640px) and (max-width: 960px){
    .top-news-first-section {
        width: 62%;
    }
    .top-news-second-section {
        width: 38%;
    }
}

@media all and (max-width: 960px){
    .sidebar {
        display: none;
    }
    .news-box {
        width: 100%;
        margin-left: 0;
    }
    .top-news {
        width: 100%;
        padding-left: 8%;
        padding-right: 6%;
    }
    .top-news-third-section {
        display: none;
        width: 0;
    }
}

@media all and (min-width:960px){
    .big-title{
        font-size: 16px;
    }
    .sidebar {
        display: flex;
    }
    .news-box {
        width: 65%;
    }
}

@media all and (min-width:960px) and (max-width:1199px){
    .cat-big-article-text-box{
        padding: 16px;
    }
    .cat-big-article-text-box div{
        margin-top: 12px;
    }
}

@media all and (min-width:1200px){
    .top-news-third-section{
        padding:30px 40px 0
    }
    .bigger-title {
        font-size: 28px;
    }
    .top-article-text-box{
        padding-top:12px
    }
}

@media all and (max-width:1200px){
    .top-news-second-section section{
        margin-right:20px
    }
    .top-news-third-section{
        padding:30px 0 0 20px
    }
}

@media all and (min-width:1400px){
    .big-title{
        font-size:22px
    }
}





